<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Django</title>
</head>
<body>
    <div>
        <p>Hi there!</p>
        <p>It's works!</p>
    </div>

    <div>
        <h1><a href='/'>Blog Jonata's Django</a></h1>
    </div>

    <div>
        <p>publicado: 29/11/2020, 15:54</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, impedit pariatur qui doloribus quo cum reprehenderit quasi rerum quam at maiores nisi quas incidunt veritatis consectetur ullam tenetur enim sapiente.</p>
    </div>

    <div>
        <p>publicado: 29/11/2020, 15:55</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi nisi aliquam totam distinctio nam, soluta, reprehenderit ex a dicta corporis iste, in porro culpa quas! Tempora laudantium exercitationem magnam provident?</p>
    </div>
</body>
</html> 